<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @flower.name %>
</p>

<p>
  <strong>Smell:</strong>
  <%= @flower.smell %>
</p>

<p>
  <strong>Pretty:</strong>
  <%= @flower.pretty %>
</p>

<p>
  <strong>Height:</strong>
  <%= @flower.height %>
</p>

<%= link_to 'Edit', edit_flower_path(@flower) %> |
<%= link_to 'Back', flowers_path %>
