<%= form_with(model: weather, local: true) do |form| %>
  <% if weather.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(weather.errors.count, "error") %> prohibited this weather from being saved:</h2>

      <ul>
      <% weather.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :weather_name %>
  </div>

  <div class="field">
    <%= form.label :intensity %>
    <%= form.number_field :intensity, id: :weather_intensity %>
  </div>

  <div class="field">
    <%= form.label :scary %>
    <%= form.check_box :scary, id: :weather_scary %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
