<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @weather.name %>
</p>

<p>
  <strong>Intensity:</strong>
  <%= @weather.intensity %>
</p>

<p>
  <strong>Scary:</strong>
  <%= @weather.scary %>
</p>

<%= link_to 'Edit', edit_weather_path(@weather) %> |
<%= link_to 'Back', weathers_path %>
